{# src/UserBundle/Ressources/views/layout.html.twig #}

{% extends "AltgeekCoreBundle::layout.html.twig" %}

  {% block title %}
    User - {{ parent() }}
  {% endblock %}

  {% block stylesheets %}
    {% stylesheets filter='cssrewrite, ?scssphp'
      'bundles/altgeekuser/css/userMain.css' %}
      {{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/altgeekuser/css/userMain.css') }}" type="text/css" />
    {% endstylesheets %}
  {% endblock %}

  {% block header %}
    {{ parent() }}
  {% endblock %}

  {% block body %}

    {% for key, messages in app.session.flashbag.all() %}
      {% for message in messages %}
        <div class="alert alert-{{ key }}">
          {{ message|trans({}, 'FOSUserBundle') }}
        </div>
      {% endfor %}
    {% endfor %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}

	{% endblock %}

  {% block footer %}
    {{ parent() }}
  {% endblock %}

  {% block javascripts %}
    {% javascripts filter='?jsqueeze'
      'bundles/altgeekuser/js/userMain.js' %}
      {{ parent() }}
      <script type="text/javascript" src="{{ asset('bundles/altgeekuser/js/userMain.js') }}"></script>
    {% endjavascripts %}
  {% endblock %}