{# src/Altgeek/UserBundle/Resources/views/User/delete.html.twig #}

{% extends "AltgeekUserBundle::layout.html.twig" %}

{% block title %}
  Supprimer un User - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un User</h2>

  <p>
    Etes-vous certain de vouloir supprimer le User "{{ user.firstName }} {{ user.familyName }}" ?
  </p>

  <form action="{{ path('altgeek_user_delete', {'id': user.id}) }}" method="post">
    <a href="{{ path('altgeek_user_view', {'id': user.id}) }}" class="btn btn-default">
      Retour au User
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}