{# src/Altgeek/UserBundle/Resources/views/User/form.html.twig #}

<h3>Formulaire de User</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

  <div class="form-group">
    {{ form_label(form.firstName, "Prénom du User", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {{ form_errors(form.firstName) }}

    <div class="col-sm-10">
      {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.familyName, "Nom du User", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {{ form_errors(form.familyName) }}

    <div class="col-sm-10">
      {{ form_widget(form.familyName, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.pseudo, "Pseudo du User", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {{ form_errors(form.pseudo) }}

    <div class="col-sm-10">
      {{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.password, "Mdp du User", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {{ form_errors(form.password) }}

    <div class="col-sm-10">
      {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.mail, "Mail du User", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {{ form_errors(form.mail) }}

    <div class="col-sm-10">
      {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_rest(form) }}

  {{ form_end(form) }}
</div>

